.header{
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    padding-left: 10px;
    padding-right: 20px;
    top: 0;
    left: 0;
    right: 0;
    background-color: white;
    border-bottom: 1px solid;
    border-bottom-color: rgb(204, 204, 204);
    z-index: 100;
}

.left-side{
    padding-left: 10px;
    display: flex;
    align-items: center;
}

.menu{
    height: 24px;
    width: 24px;
    align-items: center;
    padding: 8px;
}
.menu-icon{
    cursor: pointer;
}

.youtube{
    height: 20px;
    padding: 18px 16px;
    align-items: center;
}

.middle-side{
    margin-left: 60px;
    margin-right: 35px;
    flex: 1;
    max-width: 600px;
    display: flex;
    align-items: center;
}

.searchbox{
    flex: 1;
    font-size: 16px;
    height: 36px;
    padding-left: 16px;
    padding-right: 4px;
    border: 1px solid;
    border-right: none;
    border-radius: 40px 0 0 40px;
    border-color: rgb(204, 204, 204);
    box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.05);
    width: 0;
}
.searchbox::placeholder{
    font-family: Roboto , Arial;
    font-size: 16px;
}

.search-button{
    height: 38.5px;
    width: 60px;
    background-color: rgb(248, 248, 248);
    border: 1px solid;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    border-color: rgb(204, 204, 204);
    margin-left: -1px;
    margin-right: 10px; 
}

.search-button,
.voice-button,
.upload-icon,
.apps-icon,
.noti-icon {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.search-button .tooltip,
.voice-button .tooltip,
.upload-icon .tooltip,
.apps-icon .tooltip,
.noti-icon .tooltip {
    font-family: Roboto , Arial;
    position: absolute;
    background-color: grey;
    color: white;
    padding: 4px 5px;
    border-radius: 4px;
    font-size: 12px;
    bottom: -30px;
    opacity: 0;
    transition: opacity 0.15s;
    pointer-events: none;
    white-space: nowrap ;
}

.search-button:hover .tooltip,
.voice-button:hover .tooltip,
.upload-icon:hover .tooltip,
.apps-icon:hover .tooltip,
.noti-icon:hover .tooltip {
    opacity: 1;
}

.search-icon{
    height: 24px;
    width: 24px;
}
.voice-button{
    height: 40px;
    width: 40px;
    border-radius: 20px;
    border: none;
    background-color: rgb(248,248,248);
}
.voice-icon{
    height: 24px;
    margin-top: 4px;
}



.right-side{
    width: 160px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 06px;
    flex-shrink: 0;
}
.upload-img{
    height: 24px;
}
.apps-img{
    height: 24px;
}
.noti-img{
    height: 24px;
}
.noti-icon{
    position: relative;
}
.noti-count{
    position: absolute;
    top: -1px;
    right: -3.5px;
    background-color: rgb(204, 0, 0);
    color: white;
    font-family: Roboto , Arial;
    font-size: 10px;
    padding: 1px 5px;
    border-radius: 10px;
}
.my-img{
    height: 32px;
    border-radius: 20px;
}