.thumbnail{ 
    width: 100%;
    border-radius: 10px;
}

.vtitle{
    margin-top: 0;
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    margin-bottom: 8px;
}

.vid-info-grid{
    display: grid;
    grid-template-columns: 50px 1fr;
}

.profile-pic{
    width: 38px;
    border-radius: 50px; 
}

.thumbnail-row{
    margin-bottom: 10px;
    position: relative;
}

.author,
.stats{
    font-size: 14px;
    color: rgb(96, 96, 96);
}

.author{
    margin-bottom: 2.5px;
}

.vid-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 16px;
    row-gap: 40px;
}
.vid-time{
    background-color: rgba(0, 0, 0, 0.75);
    color: white;
    font-family: Roboto , Arial;
    font-size: 12px;
    font-weight: 500;
    padding: 3px 4px;
    border-radius: 4px;
    position: absolute;
    bottom: 9px;
    right: 5px;
}